* {
   margin: 0;
   padding: 0;
}
#catalog {
   margin: 20px auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 70%;
   height: 400px;
   
   border: 2px solid darksalmon;
}
.cart-box {
   width: 70%;
   min-height: 300px;
   height: auto;
   margin: 20px auto;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   border: 2px solid darkgoldenrod;
}
.cart__inner {
   margin-top: 20px;
   margin-bottom: 20px;
   display: flex;
   width: 90%;
   justify-content: space-evenly;
   align-items: center;
}

.product {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   padding: 5px;
   width: 17%;
   height: 300px;
   border: 2px solid darkorange;
   background-color: darksalmon;
}
.product__name,
.product__cost,
.product__quantity,
.product__amount,
.cart__total {
   font-size: 20px;
   color: brown;
}

.product__btn {
   margin: 20px auto;
   width: 70%;
   height: 40px;
   outline: none;

   border-radius: 10px;
   font-size: 14px;
   color: brown;
   border: 1px solid darksalmon;
}
/* убираем текст кнопки из события */
.product__btn b {
   pointer-events: none;
}

.product__btn:hover {
   cursor: pointer;
   background-color: rgb(224, 205, 199);
}

.cart__btn {
   margin: 20px auto;
   width: 150px;
   height: 40px;
   font-size: 14px;
   font-weight: 700;
   color: brown;
   border: 1px solid darkorange;
   background-color: darksalmon;
   border-radius: 10px;
   outline: none;
}
.cart__btn:hover {
   cursor: pointer;
   background-color: rgb(235, 170, 148);
}
.cart__message {
   font-size: 20px;
   color: brown;
}